.App {
  text-align: center;
}

.btn {
  width: 120px;
  height: 30px;
  background-color: #668ba4;
  border: none;
  color: #fff;
  border-radius: 5px;
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
}

.btn:hover {
  background-color: #86abc4
}

.btn-submit {
  width: 140px;
}

.Game-Start {
  background: #379956;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 10px;
  height: 30px;
  width: 120px;
  box-shadow: 0 0 0 0 rgba(55, 153, 86, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

.Game-Start:hover {
  background: #57b976;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(55, 153, 86, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(55, 153, 86, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(55, 153, 86, 0);
  }
}

.headshot {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 2px solid #000;
  box-shadow: 5px 5px 12px #777;
}

.GameOverPrompt-Popup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 250px;
  /* negative half of width above to stay centered */
  margin-left: -200px;
  margin-top: -250px;
  border: 1px solid #000;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.61);
  backdrop-filter: blur(5px);
  border-radius: 10px;
}

.LeaderBoard-Table {
  border-collapse: collapse;
  margin: 25px 0;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
}

.LeaderBoard-Table thead tr {
  background-color: #379956;
  color: #ffffff;
  text-align: left;
}

.LeaderBoard-Table tbody tr {
  border-bottom: 1px solid #ddd;
}

.LeaderBoard-Table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.LeaderBoard-Table tbody tr:last-of-type {
  border-bottom: 2px solid #379956;
}

.LeaderBoard-Table th {
  padding: 12px 15px;
  text-align: center;
}

.LeaderBoard-Table td {
  padding: 12px 15px;
}